.search-box{

    display:flex;

    justify-content:space-between;

    margin-bottom:25px;

}

.search-box input{

    width:350px;

    padding:12px;

    border-radius:8px;

    border:1px solid #ddd;

    font-size:15px;

}

.search-box select{

    padding:12px;

    border-radius:8px;

    border:1px solid #ddd;

}